div {
  padding: 5px;
  background: white;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
button {
  width: 33%;
  align: center;
  height: 30px;
}
.calculator {
  width: 250px;
}
.display {
  flex: 1;
  overflow: scroll;
  height: 40px;
  background: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  
}
.input {
  border-bottom: none;
}
.operator-panel {
  border-top: none;
  border-bottom: none;
}
.control-panel {
   border-top: none;
}